### App build number (Don't declare if you want it to be fetched from Firebase/Google Play and incremented)
APP_BUILD_NUMBER=1
### App build name (Don't declare if you want it to be fetched from build.gradle)
APP_BUILD_NAME=1.0
## Android application package name (required)
ANDROID_PACKAGE_NAME=com.thirdbridge.forum_fpstg
## Android build flavor for local builds
ANDROID_FLAVOR=staging
## Signing
### Whether or not to skip signing build (optional, defaults to false)
ANDROID_SKIP_SIGNING=false
### Android store file path (required if signing is enabled)
ANDROID_STORE_FILE=/Users/user/keystore.jks
### Android store password (required if signing is enabled)
ANDROID_STORE_PASSWORD='1234#1234'
### Android key alias (required if signing is enabled)
ANDROID_KEY_ALIAS=key0
### Android key password (required if signing is enabled)
ANDROID_KEY_PASSWORD='1234#1234'
### Google service credentials file path
GOOGLE_JSON_FILE=/Users/user/app-418009-f033d8e71a9c.json
### Firebase App ID
FIREBASE_APP_ID=1:515939758390:android:5936fce6186945e35c0397
### Firebase Test Groups
FIREBASE_GROUPS='forum-internal-testing-group'
### Release notes
FIREBASE_RELEASE_NOTES='Testing'

